<h1>Ayuda</h1>

<p>
    Un quiz es una red social para crear adivinanzas u otro tipo de juegos de lógica, para uno o más jugadores que intentan contestar las preguntas correctamente. El objetivo de esta práctica es aprender la arquitectura de una aplicación desde el lado servidor, las metodologías de desarrollo y los elementos más importantes de un portal web.
</p>
